<ion-view>
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-positive ion-navicon" style="background: red;" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-positive ion-heart" style="background: red;">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div style="padding: 20px">
      <div>Laptop backpack</div>
      <div style="font-size: 1rem;margin-top: 0.5%;color: #EC4461;">Leon Red Edition</div>
      <img src="img/bp/original_backpack.png" style="width: 100%"/>
    </div>

    <ion-list>
      <ion-item ng-click="sendColor('RED');" class="bar-assertive">
        <i class="ion-bag"></i> RED
      </ion-item>
      <ion-item ng-click="sendColor('GREEN');" class="bar-positive">
        <i class="ion-bag"></i> GREEN
      </ion-item>
      <ion-item ng-click="sendColor('BLUE');" class="bar-calm">
        <i class="ion-bag"></i> BLUE
      </ion-item>
      <ion-item ng-click="sendColor('OFF');" class="bar-calm">
        <i class="ion-bag"></i> OFF
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
