<ion-view>
  <ion-nav-bar class="bar-light">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-positive ion-navicon" style="background: red;" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-positive ion-heart" style="background: red;">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div style="padding: 20px">
      <div>Laptop backpack</div>
      <div style="font-size: 1rem;margin-top: 0.5%;color: #EC4461;">Leon Red Edition</div>
      <img src="img/bp/{{current}}_backpack.png" style="width: 100%"/>
    </div>
    <div class="tabs">
      <a class="tab-item">
        Color
      </a>
      <a class="tab-item">
        Pattern
      </a>
      <a class="tab-item">
        Activity
      </a>
      <a class="tab-item">

      </a>
      <a class="tab-item">
      </a>
      <a class="tab-item" style="font-size: 20pt;">
        <i class="ion-ios-browsers" style="margin-left: -10px;padding-right: 10px;"></i>
        <i class="ion-camera"></i>
      </a>
    </div>
    <ion-scroll scrollX="true" overflow-scroll="true" class="grid-row">

      <div class="grid-item grid-{{color.color}}" ng-repeat="color in colors">
        <img src="img/bp/{{color.color}}_color.png" alt="" class="grid-item-img" ng-click="setColor(color.color)" />
        <div class="grid-item-content">
          {{color.label}}
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
